.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 300px;
}

.ngCellText, .ngHeaderText {
    color: black;
    font: bold 10px verdana;
    line-height: 14px;
    padding: 7px;
    border: 1px solid white;
}

.ngHeaderSortColumn {
    background-color: rgb(191, 10, 10);
    border: 1px solid white;
}