@{
    ViewBag.Title = "Test Page";
}
<script src="~/Scripts/Angular/TestController.js"></script>

<div ng-controller="testController">
    <div class="gridContainer">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>