@model List<StatTracker.Domain.Objects.Test>
@{
    ViewBag.Title = "Test Page";
}
<script src="~/Scripts/Angular/TestController.js"></script>
<div ng-controller="testController" class="row">
    <div class="gridStyle col-md-12" ng-grid="gridOptions"></div>    
</div>